{% extends "layout.html" %}
{% block title %}Completed{% endblock %}

{% block head %}
     {{ super() }}
     <style media="screen">
        #complete{
             /* margin: auto; */
             width: 70%;
            }
         ul {
            list-style-type:none;
         }
         @media only screen and (max-width: 600px) {
           #complete {
             width: 100%;
           }
           ul {
             padding-inline-start: 0px;
           }
         }
     </style>
{% endblock %}

{% block content %}

        <div id="complete" class="my-3 mx-auto">
            <h3>Completed Tasks:</h3>
            <ul class="mt-3">
                {% for i in tasks %}
                    <li class="mb-4">
                        <span>{{ i.name }}</span>
                        <a class="btn btn-outline-danger float-right" href="{{ url_for('deleteTask', task_name=i.name)}}">Delete</a>
                        <sub class="d-block mt-2 text-secondary">{{ i.time }}</sub>
                    </li>

                {% endfor %}
            </ul>
        </div>

    {% block script %}
        {{ super() }}
    {% endblock %}
{% endblock %}
