{% extends "layout.html" %}
{% block title %}Completed{% endblock %}

{% block head %}
     {{ super() }}
     <style media="screen">
        #complete{
             /* margin: auto; */
             width: 70%;
            }
         ul {
            list-style-type:none;
         }
         @media only screen and (max-width: 600px) {
           #complete {
             width: 100%;
           }
           ul {
             padding-inline-start: 0px;
           }
         }
     </style>
{% endblock %}

{% block content %}

        <div id="complete">
            <h1>Completed Tasks:</h1>
            <ul>
                {% for i in tasks %}
                    <li>
                        <span>{{ i.name }}</span>
                        <a href="{{ url_for('deleteTask', task_name=i.name)}}">Delete</a>
                        {{ i.time }}
                    </li>

                {% endfor %}
            </ul>
        </div>

    {% block script %}
        {{ super() }}
    {% endblock %}
{% endblock %}
