{% from 'form_helper.html' import displayField %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Get Started</h1>
        <form action="{{ url_for('login_form') }}" method="POST">

            {{ displayField(form.username, 'Username', autocomplete='off', autofocuse=true) }}
            {{ displayField(form.email, 'email', autocomplete='off', autofocuse=true) }}
            {{ displayField(form.password, 'Password') }}
            {{ displayField(form.confirm_pswd, 'Confirme Password') }}

            <div>
                {{ form.submit_button }}
            </div>

            {{ form.csrf_token }}

        </form>
    </body>
</html>
