<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="form-signin">
          <h2>Please sign in</h2>
          <label for="inputUsername" >Username</label>
          <input type="text" id="inputUsername" placeholder="Username" required autofocus>
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button type="submit">Sign in</button>
        </form>

    </body>
</html>
