{% extends "layout.html" %}
{% block title %}Tasks{% endblock %}

{% block head %}
     {{ super() }}
     <style media="screen">
        #task{
             margin: auto;
             width: 70%;
            }
         ul {
            list-style-type:none;
         }
         @media only screen and (max-width: 600px) {
           #task {
             width: 100%;
           }
         }
     </style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Get Things Done</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

    </ul>
    <span class="navbar-text">
        <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">log out</a>
    </span>
  </div>
</nav>

<div id="task">
    <form  action="/addTask" method="post">
        <p>Add a new Task:</p>
        <div class="form-group">
            <div class="form-row">
                <div class="col-sm mb-2">
                    <input class="form-control" type="text" name="name" placeholder="Add new task">
                </div>
                <div class="col-sm">
                    <input type="submit" value="Add" class="btn btn-outline-success">
                </div>
            </div>

        </div>
    </form>

    <h1>Tasks:</h1>
    <ul id='taskList'>
        {% if tasks%}
        {% for i in tasks %}
            <li class="mb-5">
                    <input class="mr-2 align-middle" type="checkbox" name="" value="">
                    <span class="mr-5 align-bottom">{{ i.name }}</span>
                    <a id="edit" class="edit btn btn-outline-warning float-right mr-2" href="#">Edit</a>
                    <a class="btn btn-outline-danger float-right mr-2" href="{{ url_for('deleteTask', task_name=i.name)}}">Delete</a>

                <sub class="d-block mt-2">{{ i.time }}</sub>
            </li>

        {% endfor %}
        {% else %}
            <p>You haven't any task to do!</p>
        {% endif %}
    </ul>

    <a id='completed' class="btn btn-outline-info" href="{{ url_for('show_completed')}}">Completed Tasks</a>

</div>



{% block script %}
    {{ super() }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        const ul = document.getElementById('taskList');
        // In case of click in UL, use the DOM traversal, to change the front-end side dynamically
        // By creating a form to submit the updating value to DB
        // Using Ajax request to update the page without refresh the page

        ul.addEventListener('click', (e) =>{
            if (e.target.tagName.toLowerCase() === 'a'){
                const anchor = e.target;
                const li = anchor.parentNode;
                const ul = li.parentNode;
                const action = anchor.innerHTML; // edit to update the value, cancel to return back to the main route
                const nameActions = {
                    // create two actions
                    Edit: () => {
                        //const span = li.firstElementChild;
                        const span = li.getElementsByTagName('span')[0];
                        const f = document.createElement("form");

                        const i = document.createElement("input"); //input element, text
                        i.setAttribute('type',"text");
                        i.setAttribute('name',"name");
                        i.value = span.textContent;

                        const s = document.createElement("input"); //input element, Submit button
                        s.setAttribute('type',"submit");
                        s.setAttribute('value',"Submit");
                        s.setAttribute('id',"update");

                        $(s).click(function(){

                            var id = span.textContent; // get the id then send it to flask app to filter the db
                            var name = i.value; // get the value to update later the db

                            req = $.ajax({
                                url: '/edit',
                                type: 'POST',
                                async: false,
                                data: {name: name, id:id},
                                success: function(data) {
                                    span.innerHTML = data.name; // change the page without refresh
                                },
                                error: function () {
                                    alert('Sorry, something went wrong :(');
                                }
                            });

                        });

                        f.appendChild(i);
                        f.appendChild(s);

                        li.insertBefore(f, span);
                        li.removeChild(span);
                        anchor.innerHTML = 'Cancel'; // change the link to cancel
                    },
                    Cancel: () => {
                        window.location.href = '/tasks' // Return back to `tasks` route
                    }
                };

                nameActions[action](); // call the function
            }
        });

        ul.addEventListener('click', (e) => {

            if (e.target.tagName.toLowerCase() === 'input'){
                const checkbox = e.target;
                const li = checkbox.parentNode;
                const ul = li.parentNode;

                // alert('h')
                const span = li.getElementsByTagName('span')[0];
                id = span.textContent;
                $.ajax({
                    url: '/complete',
                    type: 'POST',
                    async: false,
                    data: {id:id},
                    success: function(data) {
                        span.style.color = "green"; // change the page without refresh
                        window.location.href = '/tasks' // Return back to `tasks` route
                    },
                    error: function () {
                        alert('Sorry, something went wrong :(');
                    }
                });
            }

        });



    </script>
    {% endblock %}
{% endblock %}
